.spain { 
    background-image: url("images/spain.jpg");
    background-size: cover; 
}

.dubai { 
    background-image: url("images/dubai.jpg");
    background-size: cover; 
}

.italy { 
    background-image: url("images/italy.jpg");
    background-size: cover;  
}

.carousel .carousel-item {
    visibility: visible;
}

.brand {
    display: inline-block;
}

/* add this class on click/submit to #slideshow */
.hide-me {
    display: none;
}
/* add this class on click/submit to #display */
.show-me {
    display: inline-block;
}