.spain { 
    background-image: url("images/spain.jpg");
    background-size: cover; 
}

.dubai { 
    background-image: url("images/dubai.jpg");
    background-size: cover; 
}

.italy { 
    background-image: url("images/italy.jpg");
    background-size: cover;  
}

.carousel .carousel-item {
    visibility: visible;
}

.brand {
    display: inline-block;
}

/* add this class on click/submit to #slideshow */
.hide-me {
    display: none;
}
/* add this class on click/submit to #display */
.show-me {
    display: inline-block;
}
#currency {
    width: 50%;
    text-align: left;
}
.content {
    padding-bottom: 20px;
}
/* materialize red #f44336 */
/* M color info */
   /* label focus color */
   .input-field input[type=text]:focus + label {
    color: #f44336;
  }
  /* label underline focus color */
  .input-field input[type=text]:focus {
    border-bottom: 1px solid #f44336;
    box-shadow: 0 1px 0 0 #f44336;
  }

  /* icon prefix focus color */
  .input-field .prefix.active {
    color: #f44336;
  }

  /* M field color */
      /* Inactive/Active Default input field color */
      .input-field input[type]:not([readonly]),
      .input-field input[type]:focus:not([readonly]),
      .input-field textarea:not([readonly]),
      .input-field textarea:focus:not([readonly]) {
          border-bottom: 1px solid #000;
          box-shadow: 0 1px 0 0 #000;
      }
  
      /* Inactive/Active Default input label color */
      .input-field input[type]:focus:not([readonly])+label,
      .input-field textarea:focus:not([readonly])+label {
          color: #000;
      }
