.spain { 
    background-image: url("images/spain.jpg");
    background-size: cover; 
}

.dubai { 
    background-image: url("images/dubai.jpg");
    background-size: cover; 
}

.italy { 
    background-image: url("images/italy.jpg");
    background-size: cover;  
}

.carousel .carousel-item {
    visibility: visible;
}